<div class="row">
    <div class="col-6">
        <span>{{ firstPageItem() }} - {{ lastPageItem() }} de {{ totalItems }}</span>
    </div>
    @if (totalPages > 1) {
        <div class="col-6">
            <nav aria-label="Page navigation example" class="float-right">
                <ul class="pagination">
                    @if (currentPage() != 1) {
                        <li class="page-item"><a class="page-link page-clickable" (click)="setPage(1)">1</a></li>
                    }
                    @if (currentPage() > 2) {
                        <li class="page-item"><a class="page-link">...</a></li>
                        <li class="page-item"><a class="page-link page-clickable" (click)="setPage(currentPage() - 1)">{{ currentPage() - 1 }}</a></li>
                    }
                    <li class="page-item"><a class="page-link active-page">{{ currentPage() }}</a></li>
                    @if (currentPage() < (totalPages - 1)) {
                        <li class="page-item"><a class="page-link page-clickable" (click)="setPage(currentPage() + 1)">{{ currentPage() + 1 }}</a></li>
                    } 
                    @if (currentPage() < (totalPages - 2)) {
                        <li class="page-item"><a class="page-link">...</a></li>
                    }
                    @if (currentPage() != totalPages) {
                        <li class="page-item"><a class="page-link page-clickable" (click)="setPage(totalPages)">{{ totalPages }}</a></li>
                    }
                </ul>
            </nav>
        </div>
    }
</div>
