<table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.header }}</th>
        <th *ngIf="actions.length > 0">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of columns">{{ row[column.field] }}</td>
        <td *ngIf="actions.length > 0">
          <button 
            *ngFor="let action of actions"
            [ngClass]="action.class"
            (click)="onAction(action.name, row)">
            {{ action.label }}
          </button>
        </td>
      </tr>
    </tbody>
</table>