<form [formGroup]="ejercicioFormGroup" class="g-3 needs-validation">
	<div class="mb-3 row">
		<div style="width: 45%;">
			<label for="ejercicio" class="form-label">Ejercicio *</label>
			<select class="form-control" 
				name="ejercicio"
				id="ejercicio"
				[ngClass]="{'is-invalid': _sharedService.hasErrors(ejercicioFormGroup, 'ejercicio', 'required')}"
				formControlName="ejercicioId">
				<option value=""></option>
				@for (ejercicio of ejerciciosList; track ejercicio.id) {
					<option [value]="ejercicio.id">{{ ejercicio.name }}</option>
				}
			</select>
			@if (_sharedService.hasErrors(ejercicioFormGroup, 'ejercicio', 'required')){
				<span class="text-danger">Ejercicio es obligatorio</span>
			}
		</div>
		<div style="width: 45%;">
			<label for="repeticionesObjetivo" class="form-label">Número de repeticiones objetivo *</label>
			<input type="number" 
				[ngClass]="{'is-invalid': _sharedService.hasErrors(ejercicioFormGroup, 'repeticionesObjetivo', 'required')}"
				class="form-control" 
				id="repeticionesObjetivo" 
				formControlName="repeticionesObjetivo">
			@if (_sharedService.hasErrors(ejercicioFormGroup, 'repeticionesObjetivo', 'required')){
				<span class="text-danger">Número de repeticiones objetivo es obligatorio</span>
			}
		</div>
        <div class="align-justify-center" style="width: 10%;">
            <fa-icon [icon]="faTrash" (click)="removeEjercicio()" />
        </div>
	</div>
	<div formArrayName="series">
		<div *ngFor="let serie of series.controls; let i = index">
			<app-serie-container [serieForm]="serie" [serieIndex]="i" (serieToRemove)="removeSerie($event)" />
		</div>
	</div>
	<div class="mb-3">
		<button type="button" class="btn btn-primary" (click)="addSerie()">Añadir serie</button>
	</div>
</form>