<form [formGroup]="ejercicioFormGroup" class="row g-3 needs-validation">
	<div class="mb-3 row">
		<div class="col-6">
			<label for="ejercicio" class="form-label">Número de repeticiones objetivo *</label>
			<input type="number" 
				[ngClass]="{'is-invalid': hasErrors('ejercicio', 'required')}"
				class="form-control" 
				id="ejercicio" 
				formControlName="ejercicio">
			@if (hasErrors('ejercicio', 'required')){
				<span class="text-danger">Número de repeticiones objetivo es obligatorio</span>
			}
		</div>
		<div class="col-6">
			<label for="objetivoRepeticiones" class="form-label">Número de repeticiones objetivo *</label>
			<input type="number" 
				[ngClass]="{'is-invalid': hasErrors('objetivoRepeticiones', 'required')}"
				class="form-control" 
				id="objetivoRepeticiones" 
				formControlName="objetivoRepeticiones">
			@if (hasErrors('objetivoRepeticiones', 'required')){
				<span class="text-danger">Número de repeticiones objetivo es obligatorio</span>
			}
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-6">
			<label for="objetivoRepeticiones" class="form-label">Número de repeticiones objetivo *</label>
			<input type="number" 
				[ngClass]="{'is-invalid': hasErrors('objetivoRepeticiones', 'required')}"
				class="form-control" 
				id="objetivoRepeticiones" 
				formControlName="objetivoRepeticiones">
			@if (hasErrors('objetivoRepeticiones', 'required')){
				<span class="text-danger">Número de repeticiones objetivo es obligatorio</span>
			}
		</div>
		<div class="col-6">
			<label for="objetivoRepeticiones" class="form-label">Número de repeticiones objetivo *</label>
			<input type="number" 
				[ngClass]="{'is-invalid': hasErrors('objetivoRepeticiones', 'required')}"
				class="form-control" 
				id="objetivoRepeticiones" 
				formControlName="objetivoRepeticiones">
			@if (hasErrors('objetivoRepeticiones', 'required')){
				<span class="text-danger">Número de repeticiones objetivo es obligatorio</span>
			}
		</div>
	</div>
	<div formArrayName="series">
		<div *ngFor="let serie of series.controls; let i = index">
		<app-serie-container [serieForm]="serie" />
		</div>
	</div>
	<div class="mb-3">
		<button class="btn btn-primary">Añadir serie</button>
	</div>
</form>