<div class="container">
	@if (showAlert) {
		<app-alert [alertType]="alertType" [message]="alertMessage" (onCloseAlert)="showAlert = false"/>
	}

	<form [formGroup]="entrenamientoForm" class="row g-3 needs-validation" (submit)="save()">
		<div class="mb-3 buttons-header">
			<fa-icon [icon]="faArrowLeft" (click)="_sharedService.goToPath('/entrenamientos')"></fa-icon>
			<button type="submit" class="btn btn-primary float-right">Guardar</button>
		</div>
		<div class="mb-3 row">
			<div class="col-6">
				<label for="name" class="form-label">Nombre *</label>
				<input type="text" 
					[ngClass]="{'is-invalid': _sharedService.hasErrors(entrenamientoForm, 'name', 'required')}"
					class="form-control" 
					id="name" 
					formControlName="name">
				@if (_sharedService.hasErrors(entrenamientoForm, 'name', 'required')){
					<span class="text-danger">Nombre es obligatorio</span>
				}
			</div>
			<div class="col-6">
				<label for="createdDate" class="form-label">Fecha de creación</label>
				<p id="createdDate" style="font-weight: 500;">{{ (entrenamiento != null ? entrenamiento!.createdDate : currentDate) | date: 'dd/MM/yyyy' }}</p>
			</div>
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Descripción</label>
			<textarea class="form-control"
			id="description" 
			formControlName="description"></textarea>
		</div>
		<div formArrayName="ejercicios">
			<div *ngFor="let ejercicio of ejercicios.controls; let i = index">
				<app-ejercicio-container [ejercicioForm]="ejercicio" [ejerciciosList]="ejerciciosList" [ejercicioIndex]="i" (ejercicioToRemove)="removeEjercicio($event)"/>
			</div>
		</div>
		<div class="mb-3">
			<button type="button" class="btn btn-primary" (click)="addEjercicio()">Añadir ejercicio</button>
		</div>
	</form>
</div>